#title {
  text-decoration: double;
  font-size: xx-large;
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
}

#score,
#scoreButton,
#speedButton {
  font-family: "Press Start 2P", cursive;
  transition-duration: 0.4s;
  border-radius: 30px;
}

#scoreButton:hover,
#speedButton:hover {
  background-color: rgb(2, 2, 104);
  color: white;
}

#footer {
  font-family: "Press Start 2P", cursive;
  font-size: small;
  position: fixed;
  left: 85px;
  background-color: rgb(3, 3, 68);
  color: white;
}
